{% extends "base.html" %}

{% block content %}
    <h1>Headloop Design</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.primer_f.label }}<br>
            {{ form.primer_f(size=32) }}
        </p>
        <p>
            {{ form.primer_r.label }}<br>
            {{ form.primer_r(size=32) }}
        </p>
        <p>
            {{ form.guide_seq.label }}<br>
            {{ form.guide_seq(size=32) }}
        </p>
        <p>
            {{ form.orientation.label }}<br>
            {{ form.orientation(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
