{% extends "base.html" %}

{% block content %}
{% for primer_info in hl_results %}
    <table>
        <thead>
            <tr>
                <th scope="col">Type</th>
                <th scope="col">{{ primer_info[0] }}</th>
            </tr>
        </thead>
        <tbody>
        <tr>
                <th scope="row">Forward Primer</th>
                <td>{{ primer_f }}</td>
            </tr>
            <tr>
                <th scope="row">Reverse Primer</th>
                <td>{{ primer_r }}</td>
            </tr>
            <tr>
                <th scope="row">Headloop Primer</th>
                <td>{{ primer_info[1] }}</td>
            </tr>
            <tr>
                <th scope="row">Notes</th>
                <td class="{{ primer_info[3] }}">{{ primer_info[2] }}</td>
            </tr>
        </tbody>
    </table>
{% endfor %}

<form action="{{ url_for('download') }}" method="post" novalidate>
    {{ download_form.hidden_tag() }}
    <div class="hidden">
        <p>
            <input id="primer_f" name="primer_f" type="text" value="{{ primer_f }}">
        </p>
        <p>
            <input id="primer_r" name="primer_r" type="text" value="{{ primer_r }}">
        </p>
        <p>
            <input id="hl_sense" name="hl_sense" type="text" value="{{ hl_results[0][1] }}">
        </p>
        <p>
            <input id="notes_sense" name="notes_sense" type="text" value="{{ hl_results[0][2] }}">
        </p>
        <p>
            <input id="hl_antisense" name="hl_antisense" type="text" value="{{ hl_results[1][1] }}">
        </p>
        <p>
            <input id="notes_antisense" name="notes_antisense" type="text" value="{{ hl_results[1][2] }}">
        </p>
    </div>
    <p>{{ download_form.submit() }}</p>
</form>

    <a href="{{ url_for('input') }}">Back to Design Page</a>
{% endblock %}
