{% extends "base.html" %}

{% block content %}
{% for primer_info in hl_results %}
    <table>
        <thead>
            <tr>
                <th scope="col">Type</th>
                <th scope="col">{{ primer_info[0] }}</th>
            </tr>
        </thead>
        <tbody>
        <tr>
                <th scope="row">Forward Primer</th>
                <td>{{ primer_f }}</td>
            </tr>
            <tr>
                <th scope="row">Reverse Primer</th>
                <td>{{ primer_r }}</td>
            </tr>
            <tr>
                <th scope="row">Headloop Primer</th>
                <td>{{ primer_info[1] }}</td>
            </tr>
            <tr class="{{ primer_info[3] }}">
                <th scope="row">Notes</th>
                <td>{{ primer_info[2] }}</td>
            </tr>
        </tbody>
    </table>
{% endfor %}

    <a href="{{ url_for('index') }}">Back to Design Page</a>
{% endblock %}
